*{
	margin:0px;
	padding:0px;
}
body{
	font-family:"HelveticaNeue-CondensedBold",Helvetica,sans-serif;
	background:#eee;
}
#content{
	width:500px;
	margin:32px auto;
}
h1{
	font-size:32px;
}
h2{
	font-size:24px;
	color:#333;
}
h3{
	font-size:18px;
	color:#666;
}
a{
	display:block;
	margin:8px 0px;
	color:#069;
}
a:hover{
	color:#09f;
}
img{
	margin:16px 0px;
}
ul{
	margin:0px 0px 32px 0px;
}
li{
	margin:8px 0px;
	list-style:none;
}
p,li{
	font-family:Helvetica,sans-serif;
}